

@media only screen and (min-width: 1150px) {
    body {
        background-color: rgb(245, 215, 238);
        
    }
    
    #grad {
        width: 90%;
        height: 50vh;
        background-image: linear-gradient(to bottom right, rgb(185, 100, 163),  #FFE5B4);
        border-radius: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    #center {
        display: flex;
        justify-content: center;
    }
    
    #Khushi {
        margin-left: 10px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
    
    #bio {
        font-family: 'Bebas Neue', sans-serif;
    }
    
    #sale {
        font-family: 'Pacifico';
        font-weight: 500;
        display: inline;
    }
    
    p {
        font-weight: 900;
        display: inline;
    }
    
    #Up {
        display: flex;
        justify-content: center;
    }
    
    #cards {
        margin-top: 50px;
        width: 100%;
        place-items: center;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
  }

  @media only screen and (max-width: 1149px) {
    body {
        background-color: rgb(245, 215, 238);
        
    }
    
    #grad {
        width: 90%;
        height: auto;
        background-image: linear-gradient(to bottom right, rgb(185, 100, 163),  #FFE5B4);
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    
    #center {
        display: flex;
        justify-content: center;
    }
    
    #Khushi {
        margin-left: 10px;
        height: 250px;
        width: 250px;
        border-radius: 50%;
    }
    
    #bio {
        font-family: 'Bebas Neue', sans-serif;
    }
    
    #sale {
        font-family: 'Pacifico';
        font-weight: 500;
        display: inline;
    }
    
    p {
        font-weight: 900;
        display: inline;
    }
    
    #Up {
        display: flex;
        justify-content: center;
    }
    

    #cards {
        margin-top: 50px;
        width: 100%;
        place-items: center;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 10px;
    }
    
  }


@media only screen and (max-width: 840px) {
  #cards {
    margin-top: 50px;
    width: 100%;
    place-items: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-column-gap: 90px;
    grid-row-gap: 90px;
    gap: 10px;
}
}

.card-title {
    font-size: 2rem;
}

.card-price {
    font-size: 1.23609394314rem;
}

.card-text {
    font-size: 0.76396411813rem;
}